<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome , {{ title }}!
  </h1>
</div>
<span *ngIf="update">There's an update associated with your progressive web application!</span>
<h1>Jokes</h1>
<p *ngIf="newconcept">{{newconcept.value}}</p> -->

<div class="fluid-container">
	<div class="row">
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">New Concept App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." >Home</a>
        <a mat-list-item routerLink="dashboard">Dashboard</a>
        <a mat-list-item routerLink="book">Book</a>
        <a mat-list-item routerLink="csv">Csv Upload</a>
        <a mat-list-item routerLink="chart">Chart</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
     <div class="col-md-12">
     <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
</div>
</div>
